<% if notice%>
    <div class="alert alert-warning" role="alert">
    <%= notice %>
    </div>
<% end %>
<div class="container w-50">
 <% @posts.each do |post| %>
    <div class="card my-2">
      <div class="card-header">
        <% if user_signed_in? %>
           <%= @user.find(post.user_id).user_name %> | 
        <% end %>
        <%= post.title %>
      </div>
      <div class="card-body">
        <%= post.body %>
        <div>
          <i class="far fa-eye"></i><%= link_to 'show', post %>
          <i class="far fa-edit"> <%= link_to 'Edit', edit_post_path(post) %></i>
          <i class="fas fa-trash-alt"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></i>
        </div>
      </div>
    </div>
<% end %>
<%= link_to 'New Post', new_post_path,class:'btn btn-primary my-1' %>
</div>


